<body>
    <nav>
        <ul class="nav-bar">
            <li><a class="active" href="#">Acceuil</a></li>
            <li><a href="#">Nos offres</a></li>
            <li><a href="#">Blog</a></li>
            <li><img class="img" src="../assets/img/icon_contact.png" alt="photo"></li>
            <li class="contact"><a href="#">Contact</a></li>
        </ul>
    </nav>
    <img class="menu" src="../assets/img/MenuBurger.png" alt="menu">
    <main>
        <div class="form-container">
            <form>
                <h1> Connexion </h1>
                <input class="text_zone" placeholder="Adresse e-mail ou numéro de téléphone"><br>
                <input class="text_zone" type="password" placeholder="Mot de passe"><br>
                <button type="submit"> Connexion </button>
                <button type="password-button"> Mot de Passe oublié</button><br>
                <button type="button_zone"><strong>Se connecter avec Google</strong></button><br>
                <button type="button_zone"> <strong>Se connecter avec Facebook</strong></button>
            </form>
        </div>
    </main>
</body>